body {
  background: whitesmoke;
  color: #2e2f2f;
}

* {
  color: #2e2f2f;
}

#footer {
  background: whitesmoke;
}

#container form input {
  color: whitesmoke;
  background: #2e2f2f;
}

#container form button[type='submit'] {
  color: whitesmoke;
}